.info{
  margin: 200px auto;
  width: 500px;
  height:730px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  /* overflow: hidden; */
  position: relative;
}

.text{
  width: 60%;
  height: 310px;
}
.img{
  width: 300px;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 3px 3px 10px black;
  margin-top: 30px;
}
.episode{
  background-color: aliceblue;
  width: 100px;
  height: 100px;
  color: white;
}
