.all{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.single {
   background-color: rgb(82, 82, 82);
   border-radius: 25px;
   margin: 20px;
   width: 320px;
   height: 600px;
   border: solid rgb(80, 250, 139) 2px;
   box-shadow: 0 0 10px 1px rgb(67, 243, 199);
   opacity: 0.90;   
}


.single:hover{
   box-shadow: 0 0 30px 4px rgb(67, 243, 199);
   opacity: 100; 
   transform: scale(1.03);
}
.img{
   border-radius: 25px;
   margin: 7px;
   border: solid rgb(255, 255, 255) 3px;
   box-shadow: 0 0 10px 2px rgb(0, 8, 67);
}

.nav{
   background-color: rgba(9, 0, 59, 0.8);
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content:space-evenly;
   opacity: 0.8;
   height: 60px;
   
}
.nav:hover{
   opacity: 1;
   box-shadow: 0 0 15px 2px rgb(67, 243, 199);
}
.App {
   text-align: center;
}

.divSingle {
   width: 100%;
   height: 45%;
   position: center;
   color: white;
   align-items: center;
   text-align: center;
}

body {
  background: radial-gradient(rgba(2, 0, 135, 0.75),rgba(61, 0, 94, 0.75)), url(../img/fondo.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}



.agg{
   background-color: rgb(47, 47, 48);
   color: white;
   border-radius: 50px;
   align-items: center;
   box-shadow: 0 0 5px 1px rgb(0, 255, 153);
   text-decoration: none;
}

input{
   background-color: rgb(124, 124, 124);
   color: white;
   align-items: center;
   box-shadow: 0 0 5px 1px rgb(0, 255, 153);
   margin: 10px;
   border: none;
}

.rout{
   background-color: rgb(75, 75, 75);
   color: rgb(255, 255, 255);
   align-items: center;
   text-decoration: none;
   border: none;
   width: 25%;
   height: 100%;
}