body {
  background-color: rgb(23, 25, 65);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}
body::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(84, 84, 84, 0.556);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: rgba(49, 255, 128);
  border-radius: 50px;
}

.particles{
   position: relative;
   z-index: -1;
}

.by{
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 12px;
  color: white;
}





