body {
  /* background: radial-gradient(rgba(2, 0, 135, 0.75),rgba(61, 0, 94, 0.75)), url(./img/fondo.jpg); */
  background-color: rgb(23, 25, 65);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}
.particles{
   position: relative;
   z-index: -1;
}





